<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">


	{% if title %}
		<title>Signal Way - {{ title }}</title>
	{% else %}
		<title>Signal Way</title>
	{% endif %}
</head>
<body>
	<header>
		<div class="navbar">
			<a href="{{ url_for('home') }}">HOME</a>
			<a href="{{ url_for('admin') }}">ADMIN</a>
			<a href="{{ url_for('logout') }}">LOGOUT</a>
		</div>
	</header>
	<main>
		<div class="main">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{{ message }}
				{% endif %}
			{% endwith %}

			{% block content %}{% endblock %}
		</div>
	</main>
</body>
</html>