{% extends "base.html" %}
{% block content %}

	<div class="sidenav">
		<a href="#building">Building</a>
		Hello
		<a href="#site">Site</a>
		<a href="#type">Type</a>
	</div>

	<div class="container">
		<table id="button-table">
			<thead>
				<tr>
					<th>District</th>
					<th>Building</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
				<tr>
					<td>North</td>
					<td>Engineering Research Building</td>
					<td>402</td>
				</tr>
			</tbody>
		</table>
	</div>

{% endblock content %}